<div class="container-fluid">
    <div class="row ">
        <div class="col-12 footer">
            <div>
                <div class="head text-center mb-4" routerLink>Fitbizz</div>
                <div class="social-media mt-2 mb-3">
                    <div><img src="assets/images/facebook.png" alt srcset><a
                            href="https://www.facebook.com/brahma.nand.790"
                            target="_blank">Facebook</a></div>
                    <div><img src="assets/images/instagram.png" alt srcset><a
                            href="https://instagram.com/greek.godl?igshid=NGExMmI2YTkyZg=="
                            target="_blank">Instagram</a></div>
                    <div><img src="assets/images/linkedin.png" alt srcset><a
                            href="https://www.linkedin.com/in/brahmanand-parida-437092224/"
                            target="_blank">Linkedin</a></div>
                    <div><img src="assets/images/github.png" alt srcset><a
                            href="https://github.com/Brahma1999" target="_blank">Github</a></div>
                </div>
                <div class="copy-right text-center ">
                    <p>All rights reserved by @brahma 2023</p>
                </div>
            </div>
        </div>
    </div>
</div>