<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="not-found">
                <div class="mb-3"><img src="assets/images/oops.png" alt="" srcset=""></div>
                <div class="text-center mb-3">
                    <h1 >
                        <strong>404-Page Not Found</strong>
                    </h1>
                </div>
                <div class="text-center" >
                    <p >
                        The page your are looking for does not seem to exist.
                    </p>
                </div>
                <div class="back-homme">
                    <button class="text-center" routerLink="">Go to Home</button>
                </div>
            </div>
        </div>
    </div>
</div>